.card {
    display: grid;
    width: 100%;
    grid-template-columns: 1rem 1fr 1fr 3rem;
    grid-template-rows: 3rem auto auto auto 3rem auto;
    grid-template-areas:
        "leftbar name name btnfavorite"
        "leftbar schedule scheduleinfo scheduleinfo"
        "leftbar telephone telephoneinfo telephoneinfo"
        "leftbar address addressinfo addressinfo"
        "leftbar showreviews btnreview rating"
    ;
}

#leftbar {
    grid-area: leftbar;
    background-color: rgb(234,125,24);
}

#name {
    grid-area: name;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;/*falta revisar que tipo de display para que muestre ellipsis y se pueda centrar*/

}

#btnfavorite {
    grid-area: btnfavorite;
    align-items: center;
    justify-content: center;
}

#schedule {
    grid-area: schedule;
    padding: 0.25rem;
    overflow: hidden;
}

#scheduleinfo {
    grid-area: scheduleinfo;
    padding: 0.25rem;
    overflow: hidden;
}

#telephone {
    grid-area: telephone;
}

#telephoneinfo {
    grid-area: telephoneinfo;
}

#address {
    grid-area: address;
}

#addressinfo {
    grid-area: addressinfo;
    padding: 0.25rem;
    overflow: hidden;
}

#showreviews {
    grid-area: showreviews;
}

#btnreview {
    grid-area: btnreview;
}

#rating {
    grid-area: rating;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}