.cardinfolayout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "primaryinfolayout"
        "secondaryinfolayout"
        "ratesandreviews";
    cursor: pointer;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    margin-bottom: 0.5rem;
    border-radius: 0.15rem;
}


.primaryinfolayout {
	grid-area: primaryinfolayout;
	display: grid;
    grid-template-columns: 1rem 4rem 1fr 3rem;
    grid-template-rows: 4rem auto;
	grid-template-areas:
        "leftbar likes name btnlike"
        "leftbar perks perks btnmore";
}

#leftbar {
    grid-area: leftbar;
    background-color: rgb(234,125,24);
    border-radius: 0.15rem 0 0 0.15rem;
}

#likes {
    grid-area: likes;
    display: flex;
    background-color: rgb(163, 211, 53);
    margin: 0.1rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 900;
}

#name {
    grid-area: name;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;/*falta revisar que tipo de display para que muestre ellipsis y se pueda centrar*/
}

#btnlike {
    grid-area: btnlike;
    display: flex;
    align-items: center;
    justify-content: center;
}

#perks {
    grid-area: perks;
    display: block;
    align-items: flex-start;
    overflow-wrap: break-word;
    padding: 0.5rem;
}

#btnmore {
    grid-area: btnmore;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryinfolayout {
	grid-area: secondaryinfolayout;
	display: none;
    grid-template-columns: 1rem 1fr 1fr ;
    grid-template-rows: auto auto 3rem;
    grid-template-areas:
        "secondaryleftbar contactinfo contactinfo"
        "secondaryleftbar contactinfo contactinfo "
        "secondaryleftbar reviewgrid reviewgrid"
}

#secondaryleftbar {
    grid-area: secondaryleftbar;
    background-color: rgb(234,125,24);
    border-radius: 0.15rem 0 0 0.15rem;
}

#contactinfo {
    grid-area: contactinfo;
    display: grid;
    grid-template-columns:  3rem auto;
    grid-template-rows: 3rem 3rem auto 4rem;
    grid-template-areas:
        "schedule scheduleinfo "
        "telephone telephoneinfo "
        "website websiteinfo "
        "address addressinfo ";
}



#schedule {
    grid-area: schedule;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
}

#scheduleinfo {
    grid-area: scheduleinfo;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    overflow: hidden;
}

#telephone {
    grid-area: telephone;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
}

#telephoneinfo {
    grid-area: telephoneinfo;
    padding: 0.25rem;
    align-items: center;
    overflow: hidden;
}

#address {
    grid-area: address;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
}

#addressinfo {
    grid-area: addressinfo;
    display:flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

#website {
    grid-area: website;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
}

#websiteinfo {
    grid-area: websiteinfo;
    display: inline;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 12pt;
}

#reviewgrid {
    grid-area: reviewgrid;
    display: grid;
    grid-template-columns: 1fr 0.5rem 1fr;
    grid-template-areas: "btnshowreviews . btnrate";
    padding: 0.5rem;
}

.btnshowreviewsstyle {
    grid-area: btnshowreviews;
    display: flex;
    background-color:rgb(210, 226, 228);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.15rem;
}

#btnrate {
    grid-area: btnrate;
    display: flex;
    background-color:rgb(210, 226, 228);
    align-items: center;
    justify-content: center;
    border-radius: 0.15rem;
}

.reviewcontainerstyle {
    grid-area: ratesandreviews;
    display: none;
    grid-template-columns:1rem auto 3rem 3rem ;
    grid-template-rows: 1rem 2rem auto 2rem;
    grid-template-areas:
        ". . . btnedit"
        ". authorinfo . ."
        ". writtenreview . ."
        ". . heartcount heart";
}