#faqscreen {
    display: none;
    grid-area: content;
    grid-template-columns: auto;
    grid-template-rows: 0.5rem 10rem 1rem 2rem 0.5rem auto 0.5rem;
    grid-template-areas: "."
        "faqimage"
        "."
        "faqtitle"
        "."
        "faqtext"
        ".";
}

#faqimage {
    grid-area: faqimage;
    display: flex;
    align-items: center;
    justify-content: center;

}

#faqtitle {
    grid-area: faqtitle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: break-word;
    padding: 1rem;
}

#faqtext {
    grid-area: faqtext;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: break-word;
    padding: 1rem;
}