#homescreen {
    grid-area: content;
    /* display: none; */
    grid-template-columns: 1fr 15vw 15vw 15vw 15vw 15vw 15vw 1fr;
    grid-template-rows: 3rem 0.5rem auto 3rem 0.5rem auto 0.5rem 3rem;

    grid-template-areas:    "header header header header header header header header"
                            ". . . . . . . ."
                            ". mainimage mainimage mainimage mainimage mainimage mainimage ."
                            ". categories categories categories categories categories categories ."
                            ". . . . . . . ."
                            ". feed feed feed feed feed feed ."
                            ". . . . . . . ."
                            "footer footer footer footer footer footer footer footer";
    /* visibility: visible; */
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 15vw 15vw 15vw 15vw 15vw 15vw 1fr;
    grid-template-areas: ". btnmenu searchbar searchbar searchbar searchbar btnsearch .";
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.headerelements {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnmenu {
    grid-area: btnmenu;
    display: block;
}

#searchbar {
    grid-area: searchbar;
    font-size: 12pt;
    padding: 0.25rem;
    border: solid 1px;
    border-radius: 0.15rem;
}

#btnsearch {
    grid-area: btnsearch;
}

/* Slideshow */
#mainimg {
    grid-area: mainimage;
    background-size: cover;
    align-self: center;
    overflow: hidden;
}

#mainimg figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slider 30s infinite;
}

#mainimg figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }

    25% {
        left: 0;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -100%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -200%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -300%;
    }
}

.categoryimg {
    object-fit: fill;
}

#categories {
    grid-area: categories;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto;
    grid-template-areas: "health . accommodation . petfriendly . shopping . education . nonprofit";
    border-bottom: solid 1px;
    cursor: pointer;
}

#health {
    grid-area: health;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#health:hover {
    border-bottom: solid 4px rgb(234, 125, 24);
}

#accommodation {
    grid-area: accommodation;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#accommodation:hover {
    border-bottom: solid 4px rgb(24, 175, 234);
}

#petfriendly {
    grid-area: petfriendly;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#petfriendly:hover {
    border-bottom: solid 4px rgb(219, 48, 182);
}

#shopping {
    grid-area: shopping;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#shopping:hover {
    border-bottom: solid 4px rgb(221, 51, 102);
}

#education {
    grid-area: education;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#education:hover {
    border-bottom: solid 4px rgb(253, 240, 57);
}

#nonprofit {
    grid-area: nonprofit;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#nonprofit:hover {
    border-bottom: solid 4px rgb(95, 196, 37);
}

#feed {
    grid-area: feed;
}