@import url('https://fonts.googleapis.com/css?family=Roboto');

* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 300;

}

body {
    padding: 0;
    margin: 0;
}

main {

    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    grid-template-columns: auto;
    grid-template-rows: 0.5rem auto 0.5rem;

    grid-template-areas: ".""header""content"".""footer";

}

.sidenav {
    height: 100%;
    width: 0rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    padding-top: 1.25rem;
    transition: 0.5s;
}

.open {
    width: 9rem;
}


/* Open sidenav menu button */

.btnmenu {
    text-decoration: none;
    border: none;
    background: none;
}

/* Close sidenav menu button */

.menuCloseBtn {
    color: #818181;
    top: 0;
    right: 1.5rem;
    font-size: 2.25rem;
    margin-right: 0.5rem;
    float: right;
    text-decoration: none;
}

.sidenavItem {
    color: #818181;
    top: 0;
    right: 1.5rem;
    font-size: 15pt;
    margin-left: 0.5rem;
    float: right;
    text-decoration: none;
}

/*Elements within sidenavBar*/

.sidenavItem,
.dropdown-btn,
.subm {
    padding: 1.5rem 0.5rem 1.5rem 1rem;
    font-size: 12pt;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    text-decoration: none;
}


#suggestPlace {
    /* background-color: #be216c; */
    color: #818181;
    background-color: rgba(190, 33, 108, 0.2);
}

#logOut:hover {
    background-color: #e19b38;
}

#suggestPlace:hover {
    color: #f1f1f1;
    background-color: #be216c;
}

.sidenavItem:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #c1d93a;

}

.subm:hover {
    background-color: #e19b38;
    color: #f1f1f1;
}

/* Sidenav Menu Dropdown */

.dropdown-container {
    display: none;
    padding-left: 0.5rem;
    float: right;
    margin-right: 1.5rem;
}

.showDropdownMenu {
    display: block;
    padding-left: 0.5rem;
    float: right;
    margin-right: 1.5rem;
}

.fa-caret-down {
    float: right;
    padding-right: 0.5rem;
}

/* Nav toggle */

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    /* allow for content off the bottom of the page */
    position: absolute;
    /* or absolute if the user needs to scroll for more content */
}

.active {
    display: grid;
}

/* Media queries bigger screens */

/* @media only screen and (min-width: 700px) {
    .open {
        width: 15rem;
    }

    .sidenavItem,
    .dropdown-btn,
    .subm {
        font-size: 16pt;
        margin-left: 1rem;
    }

    .fas {
        font-size: 30px;
    }

    .categoryimg {
        width: 150%;
    }

} */