@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    grid-template-columns: auto;
    grid-template-rows: 0.5rem auto 0.5rem;
<<<<<<< HEAD
    grid-template-areas: ".""content"".";
=======
    grid-template-areas: "." "content" ".";
}

#homescreen {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 15vw 15vw 15vw 15vw 15vw 15vw 1fr;
    grid-template-rows: 3rem 4rem 3rem 0.5rem auto 0.5rem 3rem;
    grid-template-areas: "header header header header header header header header" 
                        ". mainimage mainimage mainimage mainimage mainimage mainimage ." 
                        ". categories categories categories categories categories categories ." 
                        ". . . . . . . ." ". feed feed feed feed feed feed ." ". . . . . . . ." 
                        "footer footer footer footer footer footer footer footer";
>>>>>>> c3db5be1643f96ac3dfbc628cbfc37fc08087869
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 15vw 15vw 15vw 15vw 15vw 15vw 1fr;
    grid-template-areas: ". btnmenu searchbar searchbar searchbar searchbar btnsearch .";
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#homescreen {
    grid-area: content;
    display: none;
    grid-template-columns: 1fr 15vw 15vw 15vw 15vw 15vw 15vw 1fr;
    grid-template-rows: 3rem 4rem 3rem 0.5rem auto 0.5rem 3rem;
    grid-template-areas: "header header header header header header header header"". mainimage mainimage mainimage mainimage mainimage mainimage ."". categories categories categories categories categories categories ."". . . . . . . ."". feed feed feed feed feed feed ."". . . . . . . .""footer footer footer footer footer footer footer footer";
}


.headerelements {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnmenu {
    grid-area: btnmenu;
    display: block;
}

.sidenav {
    height: 100%;
    width: 0rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    padding-top: 1.25rem;
    transition: 0.5s;
}

/* Open sidenav menu button */

.btnmenu {
    text-decoration: none;
    border: none;
    background: none;
}

/* Close sidenav menu button */

.sidenav a {
    color: #818181;
    top: 0;
    right: 1.5rem;
    font-size: 2.25rem;
    margin-right: 0.5rem;
    float: right;
    text-decoration: none;
}

/*Elements within sidenavBar*/

.sidenavItem,
.dropdown-btn,
.subm {
    padding: 1.5rem 0.5rem 1.5rem 1rem;
    font-size: 1.125rem;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    text-decoration: none;
}

#logIn {
    background-color: #BE216C;
    color: #f1f1f1;
    font-weight: bold;
}

.sidenavItem:hover,
.dropdown-btn:hover {
    color: #706b6b;
    background-color: #C1D93A;
}

.subm:hover {
    background-color: #E19B38;
    color: white;
}

/* Sidenav Menu Dropdown */

.dropdown-container {
    display: none;
    padding-left: 0.5rem;
    float: right;
    margin-right: 1.5rem;
}

.showDropdownMenu {
    display: block;
    padding-left: 0.5rem;
    float: right;
    margin-right: 1.5rem;
}

.fa-caret-down {
    float: right;
    padding-right: 0.5rem;
}

/* @media only screen and (max-width: 450px) {
    .sidenav {padding: 0.9rem;}
    .sidenavItem {font-size: 1.1rem;}
    .sidenav a {margin-left: 1rem;}
} */

#searchbar {
    grid-area: searchbar;
    font-size: 12pt;
    padding: 0.25rem;
    border: solid 1px;
    border-radius: 0.15rem;
}

#btnsearch {
    grid-area: btnsearch;
}

#mainimage {
    grid-area: mainimage;
<<<<<<< HEAD
    background-image: url("images/banners/PoogleLogo.png");
    background-size: cover;
=======

>>>>>>> c3db5be1643f96ac3dfbc628cbfc37fc08087869
}

.categoryimg {
    object-fit: fill;
}

#categories {
    grid-area: categories;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto;
    grid-template-areas: "health . accommodation . places . shopping . education . nonprofit";
    border-bottom: solid 1px;
    cursor: pointer;
}

#health {
    grid-area: health;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#health:hover {
    border-bottom: solid 4px rgb(234, 125, 24);
}

#accommodation {
    grid-area: accommodation;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#accommodation:hover {
    border-bottom: solid 4px rgb(24, 175, 234);
}

#places {
    grid-area: places;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#places:hover {
    border-bottom: solid 4px rgb(219, 48, 182);
}

#shopping {
    grid-area: shopping;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#shopping:hover {
    border-bottom: solid 4px rgb(221, 51, 102);
}

#education {
    grid-area: education;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#education:hover {
    border-bottom: solid 4px rgb(253, 240, 57);
}

#nonprofit {
    grid-area: nonprofit;
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

#nonprofit:hover {
    border-bottom: solid 4px rgb(95, 196, 37);
}

#feed {
    grid-area: feed;
}