#btnedit {
    grid-area: btnedit;
    display: none;
}

#authorinfo {
    grid-area: authorinfo;
    display: flex;
}

#heartcount {
    grid-area: heartcount;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heart {
    grid-area: heart;
    display: flex;
    justify-content: center;
    align-items: center;
}

#writtenreview {
    grid-area: writtenreview;
    display: block;
}

#rateform {
    display: none;
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: 2rem 2rem 2rem auto 4rem 3rem 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-areas:
    ". ratetitle ."
    ". ratebar ."
    ". opiniontitle ."
    ". opinion ."
    ". veracitycheck ."
    ". btnsubmit ."
    ". . .";
    border-top: solid 1px;
}

#ratetitle {
    grid-area: ratetitle;
    display: flex;
    padding: 0.25rem;
}

#ratebar {
    grid-area: ratebar;
    display: grid;
    grid-template-columns: 1rem 1rem 1rem 1rem 1rem;
    grid-column-gap: 0.5rem;
    grid-template-areas: 
    "onestar twostar threestar fourstar fivestar";
}

#onestar {
    grid-area: onestar;
    display: flex;
    align-content: center;
    justify-content: center;
}

#twostar {
    grid-area: twostar;
    display: flex;
    align-content: center;
    justify-content: center;
}

#threestar {
    grid-area: threestar;
    display: flex;
    align-content: center;
    justify-content: center;
}

#fourstar {
    grid-area: fourstar;
    display: flex;
    align-content: center;
    justify-content: center;
}

#fivestar {
    grid-area: fivestar;
    display: flex;
    align-content: center;
    justify-content: center;
}


#opiniontitle {
    grid-area: opiniontitle;
    display: flex;
    padding: 0.25rem;
}

#opinion {
    grid-area: opinion;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
}

#veracitycheck {
    grid-area: veracitycheck;
    display: flex;
    padding: 0.25rem;
    align-items: center;
}

#btnsubmit {
    grid-area: btnsubmit;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    background-color:rgb(210, 226, 228);
    border-radius: 0.15rem;
}