#suggestscreen {

    /* display: grid; */
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    color: #181818;
    grid-area: content;
    grid-template-columns: 20vw 0.5rem 60vw;
    grid-template-rows: auto auto 3rem 3rem 3rem 3rem 3rem 3rem 3rem 4rem 1rem;
    grid-row-gap: 0.5rem;
    grid-template-areas: "suggestscreentitle suggestscreentitle suggestscreentitle"
        "suggestscreentext suggestscreentext suggestscreentext""suggestscreenname . suggestname"
        "suggestscreencategory . suggestcategory""suggestscreenwebsite . suggestwebsite"
        "suggestscreenaddress . suggestaddress""suggestscreentelephone . suggesttelephone"
        "suggestscreenschedule . suggestschedule""suggestscreenperks . suggestperks"". . submitsuggestion";
}

#suggestscreentitle {
	display: flex;
	grid-area: suggestscreentitle;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;
	font-size: 2em;
	padding: 0.25rem;
}

#suggestscreentext {
	display: flex;
	grid-area: suggestscreentext;
	overflow: hidden;
	justify-content: flex-start;
	align-items: center;
	padding: 0.25rem;
}

#suggestscreenname {
	display: flex;
	grid-area: suggestscreenname;
	justify-content: flex-end;
	align-items: center;
}

#suggestname {

    display: flex;
    grid-area: suggestname;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;
}

#suggestscreencategory {
	display: flex;
	grid-area: suggestscreencategory;
	justify-content: flex-end;
	align-items: center;
}

#suggestcategory {

    display: flex;
    grid-area: suggestcategory;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;
}

#suggestscreenwebsite {
	display: flex;
	grid-area: suggestscreenwebsite;
	justify-content: flex-end;
	align-items: center;
}

#suggestwebsite {

    display: flex;
    grid-area: suggestwebsite;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;

}

#suggestscreenaddress {
	display: flex;
	grid-area: suggestscreenaddress;
	justify-content: flex-end;
	align-items: center;
}

#suggestaddress {

    display: flex;
    grid-area: suggestaddress;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;

}

#suggestscreentelephone {
	display: flex;
	grid-area: suggestscreentelephone;
	justify-content: flex-end;
	align-items: center;
}

#suggesttelephone {

    display: flex;
    grid-area: suggesttelephone;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;

}

#suggestscreenschedule {
	display: flex;
	grid-area: suggestscreenschedule;
	justify-content: flex-end;
	align-items: center;
}

#suggestschedule {

    display: flex;
    grid-area: suggestschedule;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;

}

#suggestscreenperks {
	display: flex;
	grid-area: suggestscreenperks;
	justify-content: flex-end;
	align-items: center;
}

#suggestperks {

    display: flex;
    grid-area: suggestperks;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 0.3rem;
    border-bottom-color: #be216c;
    border-radius: 0.25rem;
}

#submitsuggestion {
    display: flex;
    grid-area: submitsuggestion;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #181818;
    background-color: #c1d93a;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

